<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit products</h2>
                <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="productName" class="form-control" value="{{product.productName}}">

                     <label for="">Category</label>
                    <input type="text" name="Category" class="form-control" value="{{product.Category}}">

                     <label for="">Price</label>
                    <input type="text" name="productPrice" class="form-control" value="{{product.productPrice}}">

                     <label for="">Description</label>
                    <input type="text" name="productDescription" class="form-control" value="{{product.productDescription}}">

                     <label for="">Image</label>
                     <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px; height: auto" id="imgview" class="pt-3">
                    <input type="file" name="productImage" class="form-control" onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>

            </div>
        </div>
    </div>
</section>

<script>
   function viewImage(event){
    document.getElementById('imgview').src=URL.createObjectURL(event.target.files[0])

    }
</script>