<section>
    <div class="container">
        {{!-- <div class="row mt-4">
            <a href="admin/add-product" class = 'btn btn-success ml-auto'>Add Product</a>
        </div> --}}
        <table class="table mt-5" >
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
    <th scope="col">Mobile</th>
      <th scope="col">Amount</th>

      <th scope="col">Payment</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      {{!-- <th scope="row">1</th> --}}
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.pincode}}</td>
            <td>{{this.deliveryDetails.mobile}}</td>
                  {{!-- <td><img style="width: 50px; height 50px" src="/product-images/{{this._id}}.jpg" alt=""></td> --}}
            <td>{{this.totalAmount}}</td>
            <td>{{this.paymentMethod}}</td>
            <td>{{this.status}}</td>

<td>
  <a href="/view-order-products/{{this._id}}" class ="btn btn-primary">View Products</a>
   {{!-- <a href="/admin/delete-product/{{this._id}}" class ="btn btn-danger" onclick="return confirm('Are you sure to delete {{this.productName}}?')">Delete</a> </td> --}}

    </tr>
    {{/each}}
  

  </tbody>
</table>
    </div>
</section>